<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<groups>
		<run>
			<include name="system"></include>
		</run>
	</groups>
    <classes>
      <class name="car.Lomborghini"/>
      <class name="car.TataMotors"/>
      <class name="car.Ford"/>
      <class name="car.Ferrari"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
